/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {

	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS DE LA PAGINA DE INICIO */

html, body{

	font-family: 'Pacifico', sans-serif;
}

footer{

	background-color: #282828;
	position: absolute;
	width: 100%;
	padding: 10px;
	color: #FFFFFF;
}

.inicio{

	background: #FFF url('.././assets/meninas.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
	color: #FFFFFF;
	padding: 20% 0;
	box-sizing: border-box;
}

.inicio h1{

	padding-bottom: 5%;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
}

.enlace{

	font-size: 25px;
	color: #FFFFFF;
}

body a:hover{

	color: #f8575d;
}

/* CSS DE LA PAGINA PICTURE-ADD */

.addpicture{

	background-color:#FFEFD5;
}

.registro{

	margin-top: 11px;
}

.puntuacionyenviar{

	display: inline-block;
}

.botones-abajo{

	text-align: right;
	margin-top: 11px;
}


/* CSS DE LA PAGINA PICTURE-LIST */

.listpicture{

	background-color: #ff7969;
}

.buttonlistpicture{

	text-align: right;
}

.newpicture , .deletespicture{

	display: inline-block;
}

.ordenar , .z{

	display: inline-block;
}


/* CSS DE LA PAGINA DELETE-PICTURE */

.deletepicture{

	background-color: #f8575d;
}

